* {
  margin: 0;
  /* text-decoration: none;
  color: rgb(86, 86, 86); */
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat';
}

.logo {

  width: 212px;
  height: 135px;
}

.nav {
  display: flex;
  align-items: center;
  max-height: 86px;
  justify-content: space-around;
  padding-bottom: 6%;
  border-bottom: 1px solid #80808036;
  width: -webkit-fill-available;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
  transition: padding 0.3s ease;
  gap: 40%;
  /* margin-right: 2%;
  margin-left: 2%; */
}

/* on scrolling */
.nav.scrolled {
  padding: 0%;
}

.mobile_search {
  display: none;
}

.mobile_filter {
  display: none;
}

.list-item {
  list-style: none;
  display: inline-flex;
  /* margin: 0 2%; */
  position: absolute;
  transition: margin-bottom 0.3s;
}

.list-item.scrolled {
  position: absolute;
  /* top: -33px; */
  margin-bottom: 109px;
}

.list-item>li {
  margin: 5px;

  padding: 7px;
  border-radius: 35px;
}

.list-item>li>a {
  text-decoration: none;
  color: rgb(86, 86, 86);
}

.list-item>li:hover {
  background-color: rgb(231, 230, 230);
  cursor: pointer;

}

.side-container {
  display: flex;
  align-items: center;
  list-style: none;

}

.internet-logo {
  width: 20px;
  height: 20px;
  padding: 0 12px;
}

.left-container {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.left-container>li {
  list-style: none;

}

.side-container>:hover {
  background: #c6c6c652;
  border-radius: 21px;
  cursor: pointer;
}

.side-container>li {
  padding: 10px 10px;

}

.side-container>li>a {
  color: black;
  text-decoration: none;

}

.side-container>img {
  padding: 10px 10px;
}

.profile-btn {
  padding: 6px 4px;
  margin: 0 8px;
  display: flex;
  align-items: center;
  border: 1px solid #00000026;
  border-radius: 32px;
  background-color: white;
}

.profile-btn:hover {
  box-shadow: 0px 2px 4px 2px #80808036;
  cursor: pointer;
}

.bar {
  width: 20px;
  height: 20px;
  padding: 0 13px;
}

.profile {
  width: 30px;
  height: 30px;
}

.bar_container {
  border: 1px solid #00000026;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  border-radius: 73px;
  /* padding: 4px 43px; */
  box-shadow: 0px 2px 4px 2px #80808036;
  position: absolute;
  margin-top: 10%;
  z-index: 1000;
  transition: margin-top 0.3s;
  background-color: #ffffff;

}


.bar_container.scrolled {
  margin-top: 0%;
  /* margin-left: -4%; */
  padding: 0 28px 0px 0;
  width: fit-content;
  content: none;
  gap: 15px;

}

.bar_container1>input,
.bar_container2>input,
.bar_container3>input {
  border: none;
  padding-top: 5px;
  background-color: transparent;

}

.input4>input {
  border: none;
  padding-top: 5px;
  background-color: transparent;
}

.bar_container1>span,
.bar_container2>span,
.bar_container3>span {
  font-size: 14px;
  font-weight: 600;

}

.input4>span {
  font-size: 14px;
  font-weight: 600;

}

.bar_container1 {

  border-radius: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 27px;
  padding-right: 50px;
}

.bar_container1.scrolled {
  padding-right: 0;
}

.bar_container2 {

  border-radius: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-top: 14px; */
  padding-left: 20px;

}

.bar_container3 {

  border-radius: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-top: 14px; */
  padding-left: 20px;

}

.bar_container1:hover {
  background-color: rgb(231, 230, 230);
  border-radius: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 27px;
  cursor: pointer;
}

.bar_container2:hover {
  background-color: rgb(231, 230, 230);
  border-radius: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  cursor: pointer;
}

.bar_container3:hover {
  background-color: rgb(231, 230, 230);
  border-radius: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  cursor: pointer;
}

.bar_container4 {
  display: flex;
  align-items: center;
  border-radius: 44px;
  padding-left: 27px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
}

.bar_container4:hover {
  background-color: rgb(231, 230, 230);
  border-radius: 44px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 27px;
  cursor: pointer;

}


.search_logo {
  width: 43px;
  height: 52px;
}

.search_logo_div {
  width: 50px;
  height: 53px;
}

.SelectionBar {
  display: flex;
  gap: 27px;
  margin-top: 2%;

  text-align: center;
  align-items: center;
  overflow-x: auto;
  width: 63%;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollButton1,
.scrollButton2 {
  border-radius: 100%;
  border: 1px solid gray;
  outline: none;
  background-color: white;
  position: absolute;
}

.scrollButton1,
.scrollButton2:hover {
  cursor: pointer;
}

.scrollButton1 {
  left: 7%;
  position: absolute;
  font-size: larger;
  box-shadow: 6px 2px 20px 20px #ffffff;
}

.scrollButton2 {
  right: 37%;
  position: absolute;
  font-size: larger;
  box-shadow: 6px 2px 20px 20px #ffffff;
}

.main_container {
  display: flex;
  align-items: center;
  margin-top: 11%;
  padding: 0 8%;
  background-color: #ffffff;
  z-index: 1000;
  transition: margin-top 0.2s;
}


.main_container.scrolled {
  position: fixed;
  /* top: -95px; */
  margin-top: 5%;
}

.main_tile {
  /* height: 74%; */
  height: 110px;
  margin: 0 6%;
  border-radius: 14px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 22px;
}


.card {
  width: 316px;
  height: 312px;
  margin: 34px 0 100px 0;

}

.card span {
  font-weight: 300;
}

.card h3 {
  font-weight: 500;
  padding: 7px 0
}

.card>img {
  width: inherit;
  height: inherit;
  border-radius: 18px;


}

.heart {
  position: absolute;
  translate: -54px 14px;
  width: 30px;
  filter: sepia(1);
}

.heart img {
  width: 45px;
}

.SelectionBar>div>img {
  width: 20px;
  height: 20px;
}

.SelectionBar>div {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  padding-bottom: 20px;
}

.SelectionBar>div:hover {
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
  cursor: pointer;
}

.two_btn {

  display: inline-flex;
  gap: 10px;
  margin-left: 5%;

}

.button2 {
  border: 2px solid #00000026;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px 11px;
  border-radius: 12px;
}

.filterBtn {
  border: 2px solid #00000026;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 12px;
  border-radius: 12px;
}



.SelectionBar>div>span {
  font-size: small;
  color: rgb(86, 86, 86);
  font-weight: 500;
  text-wrap: nowrap;
}

.SelectionBar>div>span::after {

  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.bar_container2:hover {
  .line1 {
    display: none;
  }
}

.bar_container3:hover {
  .line2 {
    display: none;
  }
}

.bar_container4:hover {
  .line3 {
    display: none;
  }
}


.line1 {
  font-size: 36px;
  position: fixed;
  color: rgb(231, 230, 230);
  font-weight: 100;
  margin-left: -37px;
}

.line2 {
  font-size: 36px;
  position: fixed;
  color: rgb(231, 230, 230);
  font-weight: 100;
  margin-left: -33px;
}

.line3 {
  font-size: 36px;
  position: fixed;
  color: rgb(231, 230, 230);
  font-weight: 100;
  margin-left: -38px;
}

.signUp {
  position: absolute;
  border: 1px solid #00000026;
  margin: 17% 0% 0% 73%;
  text-align: left;
  font-size: 16px;
  /* display: none; */
  font-size: 15px;
  padding: 7px 0px;
  width: 14%;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 2px #80808036;
  background-color: #ffffff;
  z-index: 1000;
}

.signUp>ul {
  padding-left: 0px;
  padding-top: 8px;
  text-indent: 8px;
  list-style: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: inherit;
}

.signUp>ul>hr {
  margin-left: 0px;
  background-color: #00000026;
}

.signUp>ul>li {
  padding: 9px 0px;

  /* margin: 0px 0px; */
}

.signUp_li {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.signUp>ul>li:hover {
  background-color: #80808036;

}

.line-break {
  box-shadow: 0px 2px 4px 2px #80808036;
}


/* slider button */
.switch {
  position: relative;
  display: flex;
  width: 38px;
  height: 28px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(102, 102, 102);
  -webkit-transition: 4s;
  transition: .4s;
  border-radius: 24px;
  background-image: none;
}

.slider:hover {
  background-color: rgb(0, 0, 0);

}


.slider::before {
  position: absolute;
  content: '';
  height: 21px;
  width: 21px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;


}

input:checked+.slider {
  background-color: #000000;
}

input:focus+.slider {
  box-shadow: 0 0 1px #000000;
}

input:checked+.slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
  background-image: url(https://www.svgrepo.com/show/520990/tick.svg);
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .bar_container {
    display: none;
  }

  .main_container {
    background-color: antiquewhite;
  }

  .bar_container1,
  .bar_container2,
  .bar_container3,
  .bar_container4 {
    padding: 0;
    margin: 0;

  }

  .logo,
  .list-item,
  .left-container,
  .profile-btn {
    display: none;
  }


  .SelectionBar {
    width: 100%;
    gap: 19px;
    position: fixed;
    overflow-x: auto;
    z-index: 1000;
    top: -10px;
    margin-left: -39px;
    background-color: #ffffff;
    padding-top: 95px;
    box-shadow: 0px 2px 4px 2px #80808036;
    margin-top: 2%;
    padding-left: 12px;
  }

  /* .SelectionBar.scrolled {
    width: auto;
    gap: 19px;
    overflow-x: auto;
    margin-top: non;
  } */

  .mobile_search {
    position: fixed;
    width: 80%;
    top: 0;
    z-index: 10000;
    margin: 14px 19px;
    border-radius: 50px;
    display: flex;
    align-items: center;

    box-shadow: 0px 2px 4px 2px #05050536;
  }

  .mobile_filter {
    position: fixed;
    width: 20px;
    height: 20px;
    z-index: 10000;
    right: 15px;
    top: 20px;
    border: 1px solid #05050575;
    border-radius: 50px;
    padding: 10px;
    display: block;
  }

  .mobile_filter>img {
    width: inherit;
    height: inherit;
  }

  .mobile_search>div {
    padding: 7px 30px 7px 26px;
  }

  .black {
    font-weight: 700;
  }

  .black~span {
    font-size: small;
  }

  .mobile_search .search_logo {
    width: 30px;
    height: 30px;
    padding: 3px 0px 3px 26px;
  }

  .search_logo>img {
    width: inherit;
    height: inherit;
  }

  .SelectionBar>div>img {
    width: 30px;
    height: 30px;
  }

  .scrollButton2 {
    display: none;
  }

  .scrollButton1 {
    display: none;
  }

  .two_btn {
    display: none;
  }

  .card {
    width: 100%;
    height: 500px;
    margin: 100px auto 0 auto;
  }
}